                            <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ movie.title }} - Détails du Film</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="movie-details">
        <img src="{{ movie.backdrop_url }}" alt="Backdrop de {{ movie.title }}" class="movie-backdrop">
        <div class="intro">
            <h1 class="movie-detail-title">{{ movie.title }}</h1>
            <a class="back" href="{{ url_for('get_movies') }}">Retour à la liste des films</a>
        </div>
        <p><strong>Genres:</strong> {{ movie.genres or 'Non spécifié' }}</p>
        <p><strong>Date de sortie:</strong> {{ movie.release_date or 'Non spécifiée' }}</p>
        <p><strong>Note moyenne:</strong> {{ movie.vote_average or 'N/A' }} / 10</p>
        <p class="synopsis"><strong>Synopsis:</strong><br/> {{ movie.overview or 'Synopsis non disponible' }}</p>

        <h3 class="actors">Acteurs</h3>
        <ul>
            {% for actor in actors %}
                <li>{{ actor.name }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
